In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet('./data/ts_output.parquet.gzip')

In [4]:
df.head()

,ds,yhat,trend,yhat_lower,yhat_upper,item
0,2011-01-29,2.335858,1.962375,-0.003809,4.869013,ACCESORIES_1_015_BOS_1
1,2011-01-30,2.252424,1.962527,-0.217628,4.570816,ACCESORIES_1_015_BOS_1
2,2011-01-31,1.655296,1.962679,-0.695771,4.106503,ACCESORIES_1_015_BOS_1
3,2011-02-01,1.691496,1.962831,-0.526323,4.092190,ACCESORIES_1_015_BOS_1
4,2011-02-02,1.734802,1.962983,-0.652782,3.960646,ACCESORIES_1_015_BOS_1

In [5]:
df['store'] = df['item'].str[-5:]
df['region'] = df['store'].str[0:3]
df['category'] = df['item'].str[:-12]
df.head()

,ds,yhat,trend,yhat_lower,yhat_upper,item,store,region,category
0,2011-01-29,2.335858,1.962375,-0.003809,4.869013,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES
1,2011-01-30,2.252424,1.962527,-0.217628,4.570816,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES
2,2011-01-31,1.655296,1.962679,-0.695771,4.106503,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES
3,2011-02-01,1.691496,1.962831,-0.526323,4.092190,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES
4,2011-02-02,1.734802,1.962983,-0.652782,3.960646,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES

In [8]:
list_col = ['store', 'region', 'category']
for i in list_col:
    print(f'Columna {i}')
    print(df[i].value_counts())
    print('--------------')

Columna store
store
PHI_3    247933
BOS_2    247702
BOS_1    247575
NYC_1    247010
NYC_3    246668
BOS_3    243933
NYC_4    243871
PHI_2    243762
PHI_1    238845
NYC_2    237454
Name: count, dtype: int64
--------------
Columna region
region
NYC    975003
BOS    739210
PHI    730540
Name: count, dtype: int64
--------------
Columna category
category
SUPERMARKET      1908207
HOME_&_GARDEN     290725
ACCESORIES        245821
Name: count, dtype: int64
--------------

In [9]:
df.shape

(2444753, 9)

In [10]:
# Redondeamos a la unidad
df['yhat'] = df['yhat'].round(0)

# Cambiamos a entero
df['yhat'] = df['yhat'].astype(int)

# Renombramos columna
df.rename(columns={'yhat': 'sales'}, inplace=True)

df.head()

,ds,sales,trend,yhat_lower,yhat_upper,item,store,region,category
0,2011-01-29,2,1.962375,-0.003809,4.869013,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES
1,2011-01-30,2,1.962527,-0.217628,4.570816,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES
2,2011-01-31,2,1.962679,-0.695771,4.106503,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES
3,2011-02-01,2,1.962831,-0.526323,4.092190,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES
4,2011-02-02,2,1.962983,-0.652782,3.960646,ACCESORIES_1_015_BOS_1,BOS_1,BOS,ACCESORIES

In [12]:
df.columns.to_list()

['ds',
 'sales',
 'trend',
 'yhat_lower',
 'yhat_upper',
 'item',
 'store',
 'region',
 'category']

In [15]:
df = df[['ds',
 'sales',
 'item',
 'store',
 'region',
 'category']]

In [16]:
df.head()

          ds  sales                    item  store region    category
0 2011-01-29      2  ACCESORIES_1_015_BOS_1  BOS_1    BOS  ACCESORIES
1 2011-01-30      2  ACCESORIES_1_015_BOS_1  BOS_1    BOS  ACCESORIES
2 2011-01-31      2  ACCESORIES_1_015_BOS_1  BOS_1    BOS  ACCESORIES
3 2011-02-01      2  ACCESORIES_1_015_BOS_1  BOS_1    BOS  ACCESORIES
4 2011-02-02      2  ACCESORIES_1_015_BOS_1  BOS_1    BOS  ACCESORIES

In [17]:
df.to_parquet('./data/forecast_data.parquet.gzip')